.black-friday-hero {
  text-align: center;
  color: #fff;
  border: none;
  font-size: calc(12px + 1vw);
  height: calc(100vh - 300px);
  min-height: 18rem;

  @media (min-width: 768px) {
    font-size: calc(12px + 0.5vw);
    height: calc(100vh - 220px);
    min-height: 28rem;
  }

  .card-embed {
    height: 100%;

    .card-embed-container {
      position: relative;
      height: 100%;
      overflow: hidden;

      .embed-video {
        position: absolute;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        width: 177.77777778vh;
        height: 56.25vw;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .link-friday {
      color: #fff;

      &:hover {
          color: #ee165d;
      }
  }
}
