/*
    BF TYPOGRAPHY
  */
.black-friday .text-friday {
  color: #ee165d;
}
.black-friday .bg-friday {
  background-color: #ee165d;
}
.black-friday .link-friday {
  color: #ee165d;
  text-decoration: underline;
}
.black-friday .btn-friday {
  color: #fff;
  background-color: #ee165d;
  border-color: #ee165d;
}
.black-friday .btn-friday:hover {
  color: #fff;
  background-color: #a71042;
  border-color: #a71042;
}
.black-friday .link-friday:hover {
  color: #a71042;
}
.black-friday .btn-friday-outline {
  color: #ee165d;
  background-color: #fff;
  border-color: #666;
}
.black-friday .btn-friday-outline:hover {
  color: #a71042;
  background-color: #fff;
  border-color: #333;
}
/*
    / BF TYPOGRAPHY
  */

/*
    FRIDAY-HERO
  */
#home-main-top.black-friday {
  .hero {
    overflow: hidden;

    .card-img-overlay {
      padding: 0px 0px;
    }

    .hero-img {
      width: 100%;
      // max-width: 1960px;
      height: calc(100vh - 180px);
      min-height: 80vw;
      object-fit: cover;
      object-position: top;

      @media (min-width: 576px) {
        height: calc(100vh - 180px);
      }

      @media (min-width: 769px) {
        height: calc(100vh - 220px);
        min-height: auto;
      }
    }

    .hero-content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: stretch;
      width: 100%;
      font-size: 3vw;
      padding: 5% 5% 1%;
      background-color: #000;

      @media (min-width: 769px) {
        font-size: 1.2vw;
        padding: 1.5% 1% 0%;
        width: 75%;
      }
    }

    .uptitle, .title {
      padding-bottom: 0.5rem;
      margin-bottom: 1vh;

      @media (min-width: 769px) {
        font-size: 1.8em;
        margin-bottom: 0.2em;
      }
    }

    .uptitle {
      font-size: 1.6em;
    }

    .title {
      color: #ee165d;
      font-size: 2.2em;
    }

    ul {
      > li {
        margin-bottom: 0.5em;

        > a {
          color: #fff;
          font-size: 1.3em;
          line-height: 5vh;

          @media (min-width: 769px) {
            font-size: 1em;
            line-height: 2em;
          }

          @media (min-width: 1200px) {
            font-size: 0.8em;
            line-height: 1.5em;
          }

          &:hover {
            color: #ee165d;
          }
        }
      }
    }

    .terms {
      position: absolute;
      bottom: 0.6rem;
      right: 0.8rem;
      text-transform: none;
    }
  }
}
/*
    / FRIDAY-HERO
  */
