/*
    BF TYPOGRAPHY
  */
.black-friday .text-friday {
  color: #ee165d;
}
.black-friday .bg-friday {
  background-color: #ee165d;
}
.black-friday .link-friday {
  color: #ee165d;
  text-decoration: underline;
}
.black-friday .btn-friday {
  color: #fff;
  background-color: #ee165d;
  border-color: #ee165d;
}
.black-friday .btn-friday:hover {
  color: #fff;
  background-color: #a71042;
  border-color: #a71042;
}
.black-friday .link-friday:hover {
  color: #a71042;
}
.black-friday .btn-friday-outline {
  color: #ee165d;
  background-color: #fff;
  border-color: #666;
}
.black-friday .btn-friday-outline:hover {
  color: #a71042;
  background-color: #fff;
  border-color: #333;
}
/*
    / BF TYPOGRAPHY
  */

/*
    FRIDAY-HERO
  */
#home-main-top.black-friday {
  .hero {
    overflow: hidden;

    .card-img-overlay {
      padding: 0px 0px;

      > div {
        width: 96%;
        height: 70%;
        font-size: 3.5vw;
        padding: 1rem 0.2rem 0rem;
        background-color: #000;

        @media (min-width: 576px) {
          padding: 1rem 0.2rem 0rem;
          width: 75%;
          height: auto;
          font-size: 2vw;
        }

        @media (min-width: 769px) {
          padding: 1rem 0.2rem 0rem;
          width: 75%;
          font-size: 1.5vw;
        }

        @media (min-width: 992px) {
          padding: 1rem 0.2rem 0rem;
          width: 75%;
          font-size: 1rem;
        }
      }
    }

    .hero-img {
      width: 100%;
      max-width: 1920px;
      height: calc(100vh - 180px);
      max-height: 600px;
      object-fit: cover;
      object-position: top;

      @media (min-width: 576px) {
        height: calc(100vh - 220px);
        max-height: none;
      }

      @media (min-width: 769px) {
        height: calc(100vh - 220px);
      }
    }

    .h1 {
      font-size: 2.2em;
      line-height: 1em;

      @media (min-width: 576px) {
        line-height: 1em;
      }
    }

    .title {
      color: #ee165d;
    }

    ul {
      > li {
        > a {
          color: #fff;
          font-size: 1.3em;
          line-height: 250%;

          @media (min-width: 769px) {
            font-size: 1em;
            line-height: 2em;
          }

          &:hover {
            color: #ee165d;
          }
        }
      }
    }
  }
}
/*
    / FRIDAY-HERO
  */
