@import url("https://www.phase-eight.com/on/demandware.static/Sites-P8-UK-Site/-/en/v1573566163728/css/style.css");
@import url("https://stage.phase-eight.com/on/demandware.static/-/Sites/en/v1572456928920/client_v26.css");

.card {
  border: none;
}
.section {
  margin-bottom: 2rem;
}
.text-gold {
  color: #836938;
}
.btn-gold {
  color: #fff;
  background-color: #836938;
  border-color: #6d5730;
}
